<div class="users-section">
  <h3><%= @title %></h3>
  <div class="user-container">
    <div class="card-deck">
      <% @users.each do |user| %>
        <%= render user unless user.name.blank? || user.description.blank? %>
      <% end %>
    </div>
  </div>
</div>