<div class="card" style="width: 18rem;">
  <% if user.attachment_url %>
    <img src="<%= user.attachment_url %>" class='card-img-top user-img' alt="">
  <% else %>
    <%= image_tag("default-men.png", :class => "card-img-top user-img") %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= user.name %> </h5>
    <p class="card-text"> <%= user.description.split(".")[0] if user.description %></p>
    <%= link_to 'View Profile', user, class: 'btn btn-info' %>
  </div>
</div>