<div>
<h3>User Info</h3>
<%= @user.name %>
<%= @user.last_name %>
<%= @user.email %>
<%= @user.description %>
<%= @user.age %>
<%= @user.date_of_birth %>
<%= @user.country %>
<%= @user.job %>
</div>

<h3>Cancel my account</h3>

<%= link_to "Back", :back %>