<section class="info-section py-3 py-md-5">
  <div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
      <h1 class="site-headline">
      Create your profile and build your CV like a pro
      </h1>
      <div class="site-tagline mb-4">
      Designed for entrepreneurial software developers, SmProfiles is the place where you can search people mini CV's 
      </div>
      <div class="site-buttons mb-lg-3">
        <%= link "Explore Users", to: Routes.user_path(@conn, :new), class: 'btn btn-primary' %>
        <a class="btn btn-dark" href="#">View Docs</a>
      </div>
    </div>

    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
      <img src="<%= Routes.static_path(@conn, "/images/coder_phx.svg") %>" alt="Phoenix Framework Logo" class="home-img"/>
    </div>
  </div>  
  </div>
</section>
