<section class="info-section py-3 py-md-5">
  <div class="container form-custom">
    <div class="row">
      <div class="card w-50 mx-auto">
        <div class="card-body">
          <h5 class="card-title">Forgot your password?</h5>
          <div class="">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>

              <%= f.submit "Send me reset password instructions", class: "btn btn-danger btn-block" %>
            <% end %>

            <div class="actions">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
