<!DOCTYPE html>
<html>
<head>
  <title>Smprofiles</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="branding">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href=<%= root_path %>>
          <%= image_tag("RubyIcon.png", :class => "logo-icon mr-2") %>
          <span class="bold-logo-text">Sm<span class="logo-text">profiles</span>
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                  <%= link_to 'Show profile', edit_user_registration_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger text-white" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main>
   <%= yield %>
  </main>
</body>
</html>
