<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Phoenixapp · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <div class="branding">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">
            <img src="<%= Routes.static_path(@conn, "/images/phoenixicon.png") %>" alt="Phoenix Framework Logo" class="logo-icon mr-2"/>
            <span class="bold-logo-text">Sm<span class="logo-text">profiles</span>
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item">
                <%= link "Home", to: Routes.page_path(@conn, :index), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <%= if signed_in?(@conn) do %>
                <li class="nav-item">
                  <%= link "Show profile", to: Routes.user_path(@conn, :show, @current_user), class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link "Logout", to: Routes.session_path(@conn, :delete), method: :delete, class: 'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link "Login", to: Routes.session_path(@conn, :new), class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link "Sign up", to: Routes.user_path(@conn, :new), class: 'btn btn-primary text-white' %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
        <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
