/* This file is for your main application css. */

$fa-font-path: '~font-awesome/fonts';
@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary: #f1b356;

html {
  font-family: 'Poppins', sans-serif;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  background-color: gray;
  border-color: gray;
}

.navbar {
  font-size: 18px;
  padding: 0.5rem 0;

  .nav-item {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    color: #5d6778 !important;
    font-weight: 500 !important;
  }

  .btn {
    font-size: 18px;
    font-weight: 600;
    padding: 0.6rem 1.25rem;
    transition: all 0.4s ease-in-out;
    border: none;
  }
}

.branding {
  background-color: #f8fafc;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
  

  .bold-logo-text {
    color: #252930;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: top;
  
    .logo-text{
      font-weight: lighter;
    }
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  .logo-icon{
    width: 32px;
    height: 32px;
    margin-right: 0.5rem !important;
  }
}

.container-section {
  padding-bottom: 3rem !important;
}

/* Home section */
.site-headline {
  font-size: 3rem;
  font-weight: 700 !important;
}

.site-tagline {
  font-size: 1.125rem;
}

.site-buttons {
  .btn {
      font-size: 18px;
      font-weight: 600;
      padding: 0.6rem 1.25rem;
      transition: all 0.4s ease-in-out;
      border: none;
  }
}

.home-img {
  max-width: 100%;
}

/* Sessions section */
.form-custom{
  input[type=text], input[type=email], input[type=password] {
      height: 50px;
      padding: 0 14px;
  }
  
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
      border-color: $primary;
      box-shadow: 0 0 0 3px hsla(0,0%,86.7%,.5), inset 0 2px 3px hsla(0,0%,86.7%,.75);
  }
  
  input[type=button], input[type=submit] {
      font-size: 18px;
      font-weight: 600;
      padding: 0.6rem 1.25rem;
      transition: all 0.4s ease-in-out;
      border: none;
  }
  
  .actions {
      margin-top: 1rem;
      border-top: 2px solid #dae1e7;
  
      a {
          padding-top: .5rem;
          padding-bottom: .5rem;
          color: #606f7b;
      }
  }
}

