<section class="info-section py-3 py-md-5">
  <div class="container form-custom">
    <div class="row">
      <div class="card w-50 mx-auto">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
          <div class="row no-gutters">
            <div class="col-md-4">
              <% if resource.attachment_url %>
                <img src="<%= resource.attachment_url %>" alt="">
              <% else %>
                <%= image_tag("default-men.png", :class => "card-img") %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="basic-info">
                  <h5 class="card-title">Edit <%= resource_name.to_s.humanize %></h5>
                  <%= render "devise/shared/error_messages", resource: resource %>

                  <ul class="list-group no-gutters list-group-flush edit-list" style="list-style-type: none;">
                    <li class="">
                      <div class="input-group mb-3">
                        <div class="custom-file">
                          <%= f.label :attachment, class: 'custom-file-label' %><br/>
                          <%= f.file_field :attachment, autofocus: true, autocomplete: "attachment", class: 'custom-file-input' %>
                        </div>
                        <div class="input-group-append">
                          <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row no-gutters col-md-12">
              <div class="card-body">
                <div>
                  <div class="form-group">
                    <%= f.label :name %><br/>
                    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <%= f.label :last_name %><br/>
                    <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", class: "form-control" %>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <%= f.label :email %><br/>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <%= f.label :age %><br/>
                    <%= f.number_field :age, autofocus: true, autocomplete: "age", class: "form-control" %>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <%= f.label :date_of_birth %><br/>
                    <%= f.date_field :date_of_birth, autofocus: true, autocomplete: "date of birth", class: "form-control" %>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                        <%= f.label :country %><br/>
                        <%= f.text_field :country, autofocus: true, autocomplete: "country", class: "form-control" %>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <%= f.label :job %><br/>
                    <%= f.text_field :job, autofocus: true, autocomplete: "job", class: "form-control" %>
                  </div>
                </div>

                <div>
                  <h5>Description</h5>
                  <div class="form-group">
                    <%= f.label :description %><br/>
                    <%= f.text_area :description, autofocus: true, autocomplete: "description", class: 'form-control' %>
                  </div>
                </div>

                <div class="">
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="form-group">
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                    <% if @minimum_password_length %>
                      <br/>
                      <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation %><br/>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
                    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
                  </div>

                  <div class="float-right">
                    <%= f.submit "Update", class: 'btn btn-outline-warning' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row no-gutters col-md-12">
          <div class="card-body">
            <div class="actions">
              <h3>Cancel my account</h3>

              <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></p>

              <%= link_to "Back", :back %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

