<section>
  <div class="container my-container col-md-8">
    <div class="card">
      <%= form_for @conn, Routes.user_path(@conn, :update, @user), [method: :put, as: :user], fn f -> %>
        <div class="row no-gutters">
          <div class="col-md-4">
             <img src="<%= Routes.static_path(@conn, "/images/default-men.png") %>" alt="Logo" class="card-img"/>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="basic-info">
                <h5 class="card-title">Edit <%= @user.name %></h5>

                <ul class="list-group list-group-flush edit-list">
                  <li class="">
                    <div class="field">
                      <%= text_input f, :name, placeholder: "Name", class: 'form-control'%>
                      <%= error_tag f, :name %>
                    </div>
                  </li>
                  <li class="">
                    <div class="field">
                      <%= text_input f, :last_name, placeholder: "Last Name", class: 'form-control'%>
                      <%= error_tag f, :last_name %>
                    </div>
                  </li>
                  <li class="">
                    <div class="field">
                      <%= text_input f, :email, placeholder: "Email", class: 'form-control'%>
                      <%= error_tag f, :email %>
                    </div>
                  </li>
                  <li class="">
                    <div class="field">
                      <%= text_input f, :age, placeholder: "Age", class: 'form-control'%>
                      <%= error_tag f, :age %>
                    </div>
                  </li>
                  <li class="">
                    <div class="field">
                      <%= date_input f, :date_of_birth, placeholder: "Date of Birth", class: 'form-control'%>
                      <%= error_tag f, :date_of_birth %>
                    </div>
                  </li>
                  <li class="">
                    <div class="field">
                      <%= text_input f, :country, placeholder: "Country", class: 'form-control'%>
                      <%= error_tag f, :country %>
                    </div>
                  </li>
                  <li class="">
                    <div class="field">
                      <%= text_input f, :job, placeholder: "Job", class: 'form-control'%>
                      <%= error_tag f, :job %>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row no-gutters col-md-12">
            <div class="card-body">
              <div>
                <h5>Description</h5>
                <div class="form-group">
                 <%= textarea f, :description, placeholder: "Description", class: 'form-control'%>
                 <%= error_tag f, :description %>
                </div>
              </div>

              <div class="">
                <div class="form-group">
                    <%= password_input f, :password, placeholder: "Password", class: 'form-control' %>
                    <%= error_tag f, :password %>
                </div>

                <div class="form-group">
                    <%= password_input f, :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %>
                    <%= error_tag f, :password_confirmation %>
                </div>

                <div class="actions float-right">
                  <%= submit "Update", class: "btn btn-outline-warning" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row no-gutters col-md-12">
        <div class="card-body">
          <div class="actions">
            <h3>Cancel my account</h3>

            <p> <%= link "Cancel my account", to: Routes.user_path(@conn, :delete, @user), method: :delete, class: 'btn btn-sm btn-outline-danger', data: [confirm: "Are you sure?"] %> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

