<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :email %>
  <%= text_input f, :email %>
  <%= error_tag f, :email %>

  <%= password_input f, :password, placeholder: "Password" %>
  <%= error_tag f, :password %>

  <%= password_input f, :password_confirmation, placeholder: "Confirm Password" %>
  <%= error_tag f, :password_confirmation %>
  <div>
    <%= submit "Save" %>
  </div>
<% end %>
