<div class="users-section">
  <div class="user-container">
    <div class="card-deck">
        <%= for user <- @users do %>
            <div class="card" style="width: 18rem;">
              <img src="<%= Routes.static_path(@conn, "/images/default-men.png") %>" alt="Logo" class="card-img"/>
              <div class="card-body">
                <h5 class="card-title"><%= user.name %> </h5>
                <p class="card-text"> <%= user.description %></p>
                <%= link "Show", to: Routes.user_path(@conn, :show, user) %>
              </div>
            </div>
        <% end %>
    </div>
  </div>
</div>