<section class="info-section py-3 py-md-5">
  <div class="container form-custom">
    <div class="row">
      <div class="card w-50 mx-auto">
        <div class="card-body">
          <h5 class="card-title">Sign Up</h5>
          <div class="">
            <%= form_for @conn, Routes.user_path(@conn, :create), [as: :user], fn f -> %>
              <div class="form-group">
                <%= text_input f, :email, placeholder: "Email", class: 'form-control'%>
                <%= error_tag f, :email %>
              </div>

              <div class="form-group">
                <%= password_input f, :password, placeholder: "Password", class: 'form-control' %>
                <%= error_tag f, :password %>
              </div>

              <div class="form-group">
                <%= password_input f, :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %>
                <%= error_tag f, :password_confirmation %>
              </div>

              <%= submit "Sign Up", class: "btn btn-primary btn-block" %>

              <div class="actions">
                <%= link "Log In", to: Routes.session_path(@conn, :new) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
