<section>
  <div class="container my-container col-md-8">
    <div class="card" >
      <div class="row no-gutters">
        <div class="col-md-4">
              <img src="<%= Routes.static_path(@conn, "/images/default-men.png") %>" alt="Logo" class="card-img"/>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="basic-info">
              <h5 class="card-title">Basic info</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> <p><b>Name : </b>  <%=  @user.name %></p></li>
                <li class="list-group-item"> <p><b>Last Name : </b><%= @user.last_name %></p></li>
                <li class="list-group-item"> <p><b>Email : </b><%= @user.email %></p></li>
                <li class="list-group-item"> <p><b>Age : </b><%= @user.age %></p></li>
                <li class="list-group-item"> <p><b>Date of Birth : </b><%= @user.date_of_birth %></p></li>
                <li class="list-group-item"> <p><b>Country : </b><%= @user.country %></p></li>
                <li class="list-group-item"> <p><b>Job : </b><%= @user.job %></p></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="card-body">
          <div>
            <h5>Description</h5>
            <p><%= @user.description %></p>
          </div>
          <div class="">
            <%= link "Edit profile", to: Routes.user_path(@conn, :edit, @user), class: 'btn btn-outline-warning' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>