<% @user ||= current_user %>
<div>
  <a href="<%= following_user_path(@user) %>" class="text-success">
    <strong id="following">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>" class="text-danger">
    <strong id="followers">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
