<section class="info-section py-3 py-md-5">
  <div class="container form-custom">
    <div class="row">
      <div class="card w-50 mx-auto">
        <div class="card-body">
          <h5 class="card-title">Log In</h5>
          <div class="">
            <%= form_for @conn, Routes.session_path(@conn, :new), [as: :session], fn f -> %>
              <div class="form-group">
                <%= text_input f, :email,placeholder: "Email", class: 'form-control'%>
              </div>

              <div class="form-group">
                <%= password_input f, :password, placeholder: "Password", class: 'form-control' %>
              </div>

              <%= submit "Log In", class: "btn btn-primary btn-block" %>

              <div class="actions">
                <%= link "Sign Up", to: Routes.user_path(@conn, :new) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
