/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  font-size: 18px;
  padding: 0.5rem 0;

  .nav-item {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    color: #5d6778 !important;
    font-weight: 500 !important;
  }

  .btn {
    font-size: 18px;
    font-weight: 600;
    padding: 0.6rem 1.25rem;
    transition: all 0.4s ease-in-out;
    border: none;
  }
}

.branding {
  background-color: #f8fafc;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
  

  .bold-logo-text {
    color: #252930;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: top;
  
    .logo-text{
      font-weight: lighter;
    }
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  .logo-icon{
    width: 32px;
    height: 32px;
    margin-right: 0.5rem !important;
  }
}

.container-section {
  padding-bottom: 3rem !important;
}
