.site-headline {
    font-size: 3rem;
    font-weight: 700 !important;
}

.site-tagline {
    font-size: 1.125rem;
}

.site-buttons {
    .btn {
        font-size: 18px;
        font-weight: 600;
        padding: 0.6rem 1.25rem;
        transition: all 0.4s ease-in-out;
        border: none;
    }
}

.home-img {
    max-width: 100%;
}
