.form-custom{
    input[type=text], input[type=email], input[type=password] {
        height: 50px;
        padding: 0 14px;
    }
    
    input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
        border-color: var(--danger);
        box-shadow: 0 0 0 3px hsla(0,0%,86.7%,.5), inset 0 2px 3px hsla(0,0%,86.7%,.75);
    }
    
    input[type=button], input[type=submit] {
        font-size: 18px;
        font-weight: 600;
        padding: 0.6rem 1.25rem;
        transition: all 0.4s ease-in-out;
        border: none;
    }
    
    .actions {
        margin-top: 1rem;
        border-top: 2px solid #dae1e7;
    
        a {
            padding-top: .5rem;
            padding-bottom: .5rem;
            color: #606f7b;
        }
    }
}
